<div class="container-fluid">
  <div class="container">
    <br />
    <br />
    <h1 class="text-center font-weight-bold text-danger">Contactez-nous</h1>
    <br />
    <br />
    <div class="row">
      <div class="col-12 col-xl-6 mb-5">
        <form>
          <div class="form-group float-label-control input-field">
            <label for="">Prénom</label>
            <input type="" class="form-control" />
          </div>
          <div class="form-group float-label-control">
            <label for="">Nom</label>
            <input type="" class="form-control" />
          </div>
          <div class="form-group float-label-control">
            <label for="">Email</label>
            <input type="" class="form-control" />
          </div>
          <div class="form-group float-label-control">
            <label for="">Message</label>
            <textarea
              class="form-control"
              placeholder="Textarea"
              rows="3"
            ></textarea>
          </div>
          <button class="btn btn-danger submit">Envoyer</button>
        </form>
      </div>
      <div class="col-12 col-xl-6 mb-5">
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <iframe
              class="w-100"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.8908171864023!2d2.3437290158572295!3d48.879357907183774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e41d0e14b81%3A0x705d6c1d8f3fb1b2!2s42+Rue+de+Rochechouart%2C+75009+Paris!5e0!3m2!1sfr!2sfr!4v1552837117206"
              width="500"
              height="450"
              frameborder="0"
              style="border:0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
