<div class="container">
  <div class="row">
    <ul id="tabsNav" class="tabsNav nav">
      <a
        routerLink="/cantiniere-recap"
        class="nav-item nav-link nav-link-custom small text-uppercase col-12 col-xl-3 mb-2 active"
        >Récapitulatif</a
      >
      <a
        routerLink="/cantiniere-plats"
        class="nav-item nav-link nav-link-custom small text-uppercase col-12 col-xl-3 mb-2"
        >Plats</a
      >
      <a
        routerLink="/cantiniere-menus"
        class="nav-item nav-link nav-link-custom small text-uppercase col-12 col-xl-3 mb-2"
        >Menus</a
      >
      <a
        routerLink="/user-account"
        class="nav-item nav-link nav-link-custom small text-uppercase col-12 col-xl-3 mb-2"
        >Utilisateurs</a
      >
    </ul>
  </div>
</div>
<div class="container searchContainer">
  <div class="row mt-5 text-center">
    <div class="col-lg-4">
      <label class="searchName" for="">Votre recherche: </label>
    </div>
    <div class="col-lg-4">
      <input
        type="text"
        class="searchInput"
        size="30"
        [(ngModel)]="searchText"
      />
    </div>
    <div class="col-lg-4">
      <button type="button" class="btn search-btn">Rechercher</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <ng-container *ngFor="let order of orders; let i = index">
    <div class="card align-top" *ngIf="order.menu">
      <img class="card-img-top" src="../../../assets/menu-default.png" />
      <div class="card-body">
        <h5 class="card-title-custom mb-3">
          {{ order.user.firstname }} {{ order.user.name }}
        </h5>
        <mat-divider> </mat-divider>
        <br />
        <span class="card-text align-self-start">
          • {{ order.menu.label }} <br
        /></span>

        <br />
        <mat-divider> </mat-divider>
        <br />
      </div>
    </div>
  </ng-container>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Commande</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Etes-vous sur de vouloir annuler la commande ???
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Annuler
          </button>
          <button type="button" class="btn btn-primary">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
</div>
