body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  /* position: relative;
  bottom: 0; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #cb2a3f;
  /* border-top: 2px solid black; */
}
