<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="my-account text-center w-50">Mon compte</h4>
      </div>
    </div>

    <div class="row top-margin" *ngIf="user != null">
      <div class="col-lg-6">
        <div class="row text-center">
          <div class="col-md-6">
            <h4 class="infos">Prénom:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{ user.firstname }}</h4>
          </div>
          <div class="col-md-6">
            <h4 class="infos">Nom:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{ user.name }}</h4>
          </div>
          <div class="col-md-6">
            <h4 class="infos">Adresse e-mail:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{ user.email }}</h4>
          </div>
          <div class="col-md-6">
            <h4 class="infos">Adresse:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{ user.address }}</h4>
          </div>
          <div class="col-md-6">
            <h4 class="infos">Ville:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{ user.town }}</h4>
          </div>
          <div class="col-md-6">
            <h4 class="infos">Code postal:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{ user.postalCode }}</h4>
          </div>
          <div class="col-md-6">
            <h4 class="infos">Téléphone:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{ user.phone }}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="col-12">
          <h4 class="cagnotte-border w-75">
            Cagnotte: <span class="user-details">{{ user.wallet }}€</span>
          </h4>
          <br />
          <button class="btn btn-modifier" [routerLink]="['/edit-user', user.id]">
            Modifier
          </button>
        </div>
      </div>
    </div>

    <div class="row pending-order">
      <div class="col-12 text-center">
        <h4><b>Mes commandes en cours:</b></h4>
      </div>
    </div>

    <div id="tabToday" class="tab-pane fade show">
      <ng-container *ngFor="let order of orders">
        <div class="card align-top" *ngIf="order.menu != null; else elseBlock">
          <img class="card-img-top" src="../../../assets/menu-default.png" />
          <div class="card-body">
            <h5 class="card-title-custom mb-3 text-uppercase">
              {{ order.menu.label }}
            </h5>
            <mat-divider> </mat-divider>
            <br />
            <span class="card-text align-self-start" *ngFor="let meal of order.menu.meals">
              •
              {{ meal.label }}
              <br /></span>
            <br />
            <mat-divider> </mat-divider>
            <br />
            <span class="card-text price">{{ order.menu.priceDF }} €</span>
          </div>
        </div>
        <ng-template #elseBlock>Aucune commande en cours</ng-template>
      </ng-container>
    </div>

  </div>
</body>
