<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="my-account text-center w-50">Mon compte</h4>
      </div>
    </div>

    <div class="row top-margin">
      <div class="col-lg-6">
        <div class="row text-center">
          <!-- <div class="col-md-6"> -->
          <div class="col-md-6">
            <h4>Prénom:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{user.firstname}}</h4>
          </div>
          <div class="col-md-6">
            <h4>Nom:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{user.name}}</h4>
          </div>
          <div class="col-md-6">
            <h4>Adresse mail:</h4>
          </div>
          <div class="col-md-6">
            <h4 class="user-details">{{user.email}}</h4>
          </div>
          <!-- <h4>Prénom: <span class="user-details">Kevin</span></h4>
                <h4>Nom: <span class="user-details">Lorem</span></h4>
                <h4>Adresse mail: <span class="user-details">kevin.lorem@gmail.com</span></h4> -->
          <!-- </div> -->
          <!-- <div class="col-md-6"> -->
          <!-- <h4 class="user-details">Kevin</h4>
                <h4 class="user-details">Lorem</h4>
                <h4 class="user-details">kevin.lorem@gmail.com</h4> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="col-12">
          <h4 class="cagnotte-border w-75">
            Cagnotte: <span class="user-details">{{user.wallet}}</span>
          </h4>
          <br>
          <button class="btn btn-danger" [routerLink]="['/edit-user', user.id]">Modifier</button>
        </div>
      </div>
    </div>

    <div class="row pending-order">
      <div class="col-12 text-center">
        <h4>Commandes en cours:</h4>
      </div>
    </div>
    <div class="row order-recap">
      <div class="col-12 text-center recap">
        <h4 class="user-details">Récapitulatif de la commande</h4>
      </div>
    </div>
  </div>
</body>
