.container-fluid {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 86px;
  padding-right: 30px;
  padding-left: 30px;
  /* margin-bottom: 30px; */
  background: #f0f0f0;
  /* border-radius: 3%; */
}

/* .buttons {
  width: 150px;
} */

.btn-test {
  background-color: #D3283F;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 23px;
  width: 120px;
}

.search-btn:hover {
  background-color: rgba(211, 40, 63, 0.822)
}


.inscription {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}
