.container {
  margin-bottom: 100px;
}

.nav-item {
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
}

.tabsNav {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  padding: 45px;
}

a {
  text-align: center;
  display: inline-block;
}

.nav-link-custom {
  background-color: #dfdfdf;
  color: rgb(17, 14, 14);
  border-radius: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.nav-link:hover {
  filter: drop-shadow(2px 2px 7px rgb(194, 194, 194));
  background-color: #cb2a3f;
  color: white;
}

.nav-link-custom.active {
  filter: drop-shadow(5px 5px 10px rgb(194, 194, 194));
  background-color: #3a3a3a;
  color: rgb(235, 235, 235);
  font-weight: 600;
}

.top-margin {
  margin-top: 100px;
}

.user-details {
  font-weight: normal;
  margin: 0 auto;
}

.cagnotte-border {
  border: 3px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 0 auto;
}

.btn {
  background-color: #d3283f;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 23px;
}

.pending-order {
  margin-top: 90px;
}

.order-recap {
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 25px;
  padding: 80px;
}

.search-btn:hover {
  background-color: rgba(211, 40, 63, 0.822);
}

.modal-body {
  margin: 40px !important;
}

.crediter-footer {
  display: flex;
  justify-content: center;
  border-top: none;
}

.solder-footer {
  display: flex;
  justify-content: space-between;
  border-top: none;
}

.crediter {
  display: block;
  border-bottom: none;
}

.crediter-header {
  text-align: center !important;
  color: #d3283f;
  font-size: 30px;
}

.montant {
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.montant:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(211, 40, 63, 0.25);
}

.montant:hover {
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(211, 40, 63, 0.25);
}

/* MEDIA QUERIES */

@media (max-width: 991px) and (min-width: 768px) {
  .cagnotte-border {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .user-details {
    margin-bottom: 10px;
  }
  .cagnotte-border {
    margin-top: 20px;
  }
}
