/* .buttons {
  width: 150px;
} */

.container {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 65px;
  /* margin-bottom: 30px; */
  padding-right: 30px;
  padding-left: 30px;
  background: #f0f0f0;
  /* border-radius: 3%; */
}

.connexion {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.btn-test {
  background-color: #D3283F;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 23px;
  width: 120px;
}

.btn-retour {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 23px;
  width: 120px;
}

.btn-test:hover {
  background-color: rgba(211, 40, 63, 0.822)
}

.btn-retour:hover {
  opacity: 0.8;
}

.forgot {
  font-family: 'Open Sans', sans-serif;
}

form.needs-validation {
  background-color: #f0f0f0 !important;
}